body {
  font-family: sans-serif;;
  font-style: normal;
  background-color: #1a1d26;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}

.container {
  background: #306BA0;
  display: flex;
  flex-flow: column nowrap;
  padding: 0.5rem;
  margin: 0.75rem 1rem;
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.container .network-select {
  flex-flow: column;
  margin-bottom: 0.85rem;
}

.network-select label {
  font-size: 0.8rem;
}

.bn-demo-button {
  background: #C4C4C4;
  font-size: 24px;
  line-height: 29.05px;
  padding: 0.55rem 1.4rem;
  color: black;
  font-weight: bold;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.bn-demo-button:focus {
  outline: none;
}

.bn-demo-button:hover {
  cursor: pointer;
}

.selected-toggle-btn {
  background: #6370e5;
  color: white;
}

.unselected-toggle-btn {
  color: #6370e5;
  background: #ffffffee;
}

/* information container */

.inform-context {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.inform-context ul {
  font-weight: bold;
  font-size: 16px;
  line-height: 19.36px;
  margin: 0px;
}
.inform-context .italic {
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
}



/* functional features */
.main-board {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.main-board .values-container {
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1375px) {
  .bn-logo-link {
    position: initial;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  body {
    overflow: unset;
    overflow-x: hidden;
  }

  main {
    height: unset;
    overflow: unset;
  }

  section {
    flex-direction: column;
  }

  div.container {
    width: unset;
  }
}

@media screen and (max-width: 670px) {
  .main-content {
    flex-direction: column;
  }

  div.container {
    padding: 1rem;
    width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .container .send-transaction-container {
    flex-direction: column;
    margin: 4px auto;
  }
}
